.display {
    width: min(1000px, 95vw);
    display: inline-block;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.speakerName {
    float: left;
    font-size: small;
}

.full {
    float: right;
    font-size: small;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.text {
 text-align: left;
 margin-left: 20px;
 margin-bottom: 15px;
}

.pageSelect input {
  width: 40px;
}